body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark gray background for the body */
    color: white; /* Text color for the body */
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid #3498db; /* Blue border for the form */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2; /* Light gray background for the form */
    color: black; /* Text color for the form */
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="checkbox"],
input[type="text"] {
    margin-bottom: 12px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#scatterPlot {
    margin-top: 20px;
}


#scatterPlot {
    margin-top: 20px;
}
